// color
$dark:          #373A3C;

$lightGray: 	#d9d9d9;
$superLight:	#efefef;
$textGray:		#9b9b9b;
$textDark:		#4a4a4a;
$bg:            #f5f5f5;

$lightBlue:     #00A3DD;
$Blue:          #0072c6;
$lb:            #dcf7ff;

$text:			#808080;

$sun:           #E60C17;

$green:         #26a69a;
$ipark_green:   #49BCBD;
$logoTxt:       #00A3DD;
$audired:       #bc0730;

$info: color("indigo", "darken-3");
$warning: color('yellow', 'darken-1');
$danger: color('pink', 'lighten-1');
$success: color('teal', 'lighten-1');

$bglight: #126b9b;
$bgdark: #002A5F;