@mixin btnStyle($width, $color, $h_Color, $bgColor, $h_bgColor){
    width: $width;
    height: 40px;
    font-size: 18px;
    border-color: $bgColor;
    color: $color;
    background-color: $bgColor;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid $color;
    @include ease;
    &:hover{
        color: $h_Color;
        // border-color: $bgColor;
        background-color: $h_bgColor;
    }
}

@mixin scale($scale) {
    -webkit-transform: scale($scale);
    transform: scale($scale);
}

@mixin rounded($radius: 5px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin ease($time:0.2s){
    -moz-transition:    all $time cubic-bezier(0.62, 0.32, 0.51, 0.89);
    -webkit-transition: all $time cubic-bezier(0.62, 0.32, 0.51, 0.89);
    transition:         all $time cubic-bezier(0.62, 0.32, 0.51, 0.89);
}

@keyFrames downIn{
    0% {
        margin-top: -3px;
    }
    65% {
        margin-top: 3px;
    }
    100% {
        margin-top: -3px;
    }

}
